In [224]:
#casting the data type values of varibles
a=float(3)#type float
b=bool(5>2)#type boolean

In [225]:
#snake case variable
my_Name_Is = "JUMA"

In [226]:
#assigning many values to multiple varibles
p,q,r = "orange", 1 , float(400) 
print(p)
print(q)
print(r)

orange
1
400.0

In [227]:
#one value to multiple variables
o=i=u = "AM I A PROGRAMMER"

In [228]:
#this is assignemnt 
x=5 #this is type int 
#assining x with a new value to see what the output will be
y="Hello,World"#this is type String
y

'Hello,World'

In [229]:
#creating a list
myList = ['one','two','three']
myList

['one', 'two', 'three']

In [230]:
#counting number of elements
qw=myList.count("two")
print(qw)

1

In [231]:
#creating a new list
carList = ['Ford','Mercedez','Isuzu']
carList

['Ford', 'Mercedez', 'Isuzu']

In [232]:
carList.extend(myList)#extending carList to myList
print(carList)

['Ford', 'Mercedez', 'Isuzu', 'one', 'two', 'three']

In [233]:
#appeping suzuki
carList.append("Suzuki")
carList

['Ford', 'Mercedez', 'Isuzu', 'one', 'two', 'three', 'Suzuki']

In [234]:
myList.reverse()#reversing the order of the values of mylist
myList

['three', 'two', 'one']

In [235]:
x=myList.index("one")
x

2

In [236]:
y=myList.insert(2,"Replaced")
print(y)

None

In [237]:
myList.sort()#sorting the myList
myList

['Replaced', 'one', 'three', 'two']

In [238]:
myList.pop(1)#popping second variable
myList

['Replaced', 'three', 'two']

In [239]:
myList.clear()#clearing the list
myList

[]

In [240]:
#unpacking list
fruits = ["orange" , bool(6>20) , 1]#packing list
l,m,n = fruits
print(l)
print(m)
print(n)

orange
False
1

In [241]:
#printing strings 
print("five is greater than two")
print("hallo  world")

five is greater than two
hallo  world

In [242]:
#dealing with TUPLES
myTuple = ("apple","banana","cherry")
print(myTuple)
print(len(myTuple))

print("\n")
thisTuple=("apple",1,True)#tuple with different data type of values
print(thisTuple)
print(type(thisTuple))

('apple', 'banana', 'cherry')
3


('apple', 1, True)
<class 'tuple'>

In [243]:
#tuple constructor
thisTuple = tuple(("apple","banana","cherry","berry"))
print(thisTuple)

('apple', 'banana', 'cherry', 'berry')

In [244]:
#accessing tuple items
print(thisTuple[2])#accessing the second item in the tuple
print(thisTuple[-3])#accessing the second last item in the tuple
print(thisTuple[0:2])#selecting range of tuples: index 0 included but index 2 not included
print(thisTuple[2:])#prints all values from index 2 to the end

cherry
banana
('apple', 'banana')
('cherry', 'berry')

In [245]:
#range of negative indexes 
print("RANGE OF NEGATIVE INDEXES")
thisTuple = tuple(("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"))
print(thisTuple[-4:-1])
print(thisTuple[-1:-4])#this order does not exist since tuples are unchangeable

RANGE OF NEGATIVE INDEXES
('orange', 'kiwi', 'melon')
()

In [246]:
#checking in an item exists in a tuple
if "cherry" in thisTuple:
    print("yes,'banana' is in the fruits tuple")

yes,'banana' is in the fruits tuple

In [247]:
#updating tuples
"""
to modify a tuple 
change it to list 
select specific index item to modify
then modify it
lastly change it back 
to a tuple
"""
y = list(thisTuple)  
y[2]="Parachichi"
thisTuple = tuple(y) 
print(thisTuple)

('apple', 'banana', 'Parachichi', 'orange', 'kiwi', 'melon', 'mango')

In [248]:
#adding an item to a tuple
"""
the same as update
but this time
no selecting any item
just append 
"""
y = list(thisTuple)
y.append("sweetMelon")
thisTuple=tuple(y)
print(thisTuple)

('apple', 'banana', 'Parachichi', 'orange', 'kiwi', 'melon', 'mango', 'sweetMelon')

In [249]:
#adding a tuple to a tuple 
y = ("Lemon",)
thisTuple += y
print(thisTuple)

('apple', 'banana', 'Parachichi', 'orange', 'kiwi', 'melon', 'mango', 'sweetMelon', 'Lemon')

In [250]:
#remove item(s) from a tuple
"""
same as modify but
this time 
remove an item by specifying the 
"""
y=list(thisTuple)
y.remove("Lemon")
thisTuple=y
print(thisTuple)

['apple', 'banana', 'Parachichi', 'orange', 'kiwi', 'melon', 'mango', 'sweetMelon']

In [251]:
#unpacking tuples
"""
in python the number of 
variables must match the number 
of values in the tuple
"""

"""
If NOT it is required to use an asterisk 
to collect the remaining values
as a list 
"""

'\nIf NOT it is required to use an asterisk \nto collect the remaining values\nas a list \n'

In [252]:
#when variables and values match in the tuple
fruits = ("WaterMelon","Orange","Ovacado")
(x,y,z)=fruits
print(x)
print(y)
print(z)

WaterMelon
Orange
Ovacado

In [253]:
#when values exceed variables in the tuple
fruits = ("WaterMelon","Orange","Ovacado","Banana","Fig","Berry","Grapes")
(x,y,*z)=fruits#the asterick can stay with any variable and provides respective list 
print(x)
print(y)
print(z)

WaterMelon
Orange
['Ovacado', 'Banana', 'Fig', 'Berry', 'Grapes']

In [254]:
#LOOP TUPLES
#iterating through items using FOR LOOP
print("\n")
thisTuple = (2,3,4,5,6,7,8,9,10,1)   
print("LOOP  TUPLES")
for x in thisTuple:
   print(x)#displaying all tuple items

print("\n")
print("RANGE TUPLES ")  
for i in range(len(thisTuple)):
   print(thisTuple[i])#range is used to refer an item from its respective index

print("\n")
print("WHILE LOOP")

LOOP  TUPLES
2
3
4
5
6
7
8
9
10
1


RANGE TUPLES
2
3
4
5
6
7
8
9
10
1


WHILE LOOP

In [255]:
#we are still using the above tuple
i=0
while i < len(thisTuple):
   i=i+1
   print(i)

1
2
3
4
5
6
7
8
9
10

In [256]:
print("\n")
#joining tuples
print("JOINING TUPLES")
tuple1 = (10,11,12)
tuple2 = (13,14,15)

tuple3 = tuple1 + tuple2
print(tuple3)

JOINING TUPLES
(10, 11, 12, 13, 14, 15)

In [257]:
print("\n")
print("MULTIPLY TUPLES")#does not execute the items value but deal with number of repeatitions of the tuples
myTuple = tuple3 * 2#the items will be written twice
print(myTuple)

MULTIPLY TUPLES
(10, 11, 12, 13, 14, 15, 10, 11, 12, 13, 14, 15)

In [258]:
#TUPLE METHODS
print("TUPLE METHODS")
print("COUNT")#returns the number of times an item appears in the tuple
x = myTuple.count(13)
print(x)
print("INDEX")#returns the index of an item in the tuple
x=myTuple.index(13)
print(x)

TUPLE METHODS
COUNT
2
INDEX
3

In [259]:
#SETS
print("\n")
print("SET")#stores multiple items in a single variable
mySet = {"Math","Kiswahili","Spanish","English","German","German"}
#sets are written with curly brackets
#Unordered meaning we are not certain 
#what order the items will appear
#unchangeable
#No duplicates, if occurs it will be ignored
print(mySet)

SET
{'Math', 'Spanish', 'Kiswahili', 'English', 'German'}

In [260]:
#True and 1 are treated as same value
thisSet= {"apple","banana","cherry",True,1,2}
print(thisSet)

{True, 2, 'cherry', 'banana', 'apple'}

In [261]:
#what about False and 0
thisSet = {False,0,4}
print(thisSet)#yes False and 0 are same thing in sets

{False, 4}

In [262]:
#length of set
print(len(thisSet))

2

In [263]:
#obtain data type of values in a tuple
print(type(thisSet))

<class 'set'>

In [264]:
#set constructor
thisSet = set(("apple","banana","cherry"))
print(thisSet)

{'cherry', 'banana', 'apple'}

In [265]:
#accessing set items
#you cannot just refer to an index or a key
#loops are convinient or use an "in" keyword
for x in thisSet:#using for loop
   print(x)

cherry
banana
apple

In [266]:
#using in keyword
print("cherry" in thisSet)#returns boolean  
#you can only add items to a set but not be able to change them

True

In [267]:
#Adding items to a set
#use the add method
thatSet = {"nmb","crdb","nbc"}
print(thatSet)

{'crdb', 'nbc', 'nmb'}

In [268]:
print("\n")
print("ADDING AN ITEM(s) TO AN EXISTING SET")
thatSet.add("stanbic")#Adding item stanbic
print(thatSet)

ADDING AN ITEM(s) TO AN EXISTING SET
{'crdb', 'stanbic', 'nbc', 'nmb'}

In [269]:
print("\n")
print("ADDING SET(S) TO AN EXISTING SET")
#adding sets
accounts = {"savings","checking"}

ADDING SET(S) TO AN EXISTING SET

In [270]:
thatSet.update(accounts)
print(thatSet)

{'checking', 'stanbic', 'nbc', 'nmb', 'savings', 'crdb'}

In [271]:
print("\n")
print("REMOVING AN ITEM OF THE SET")
thatSet.remove("nbc")
print(thatSet)

REMOVING AN ITEM OF THE SET
{'checking', 'stanbic', 'nmb', 'savings', 'crdb'}

In [272]:
#or use the "discard" word 
thatSet.discard("crdb")
print(thatSet)

{'checking', 'stanbic', 'nmb', 'savings'}

In [273]:
#using pop() provides uncertainty which item is removed
thatSet.pop()
print(thatSet)

{'stanbic', 'nmb', 'savings'}

In [274]:
#clear() empties the whole set
thisSet.clear()
print(thisSet)

set()

In [275]:
#Deleting the set using del keyword
del thatSet

In [276]:
print("\n")
#JOIN TWO SETS
print("JOIN TWO SETS")
#union() or update()
set1 = {"a","b","c"}
set2 = {1,2,3}

set3 = set1.union(set2)#using union()
print(set3)

JOIN TWO SETS
{1, 2, 3, 'c', 'a', 'b'}

In [277]:
#using update()
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [278]:
print("\n")
print("INTERSECTION OF SETS")
#intersecting two sets
#intersection_update() returns common item(s) of the two sets
x={1,2,4}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)#provides nothing since there is no common item

INTERSECTION OF SETS
set()

In [279]:
x={1,2,4,"google"}
y={"google","microsoft","apple"}
x.intersection_update(y)#returns 'google' since it is found in both sets
print(x)

print("\n")
print("SYMMETRIC DIFFERENCE")
x={1,2,4,"google"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'google'}


SYMMETRIC DIFFERENCE
{1, 2, 4, 'apple', 'microsoft'}

In [280]:
#SET METHODS
#difference
print("\n")
print("DIFFERENCE")
x={1,2,4,"google"}
y={"microsoft","apple"}
x.difference(y)#returns only values of the set x but not set y 
print(x)

DIFFERENCE
{1, 2, 4, 'google'}

In [281]:
print("\n")
print("DIFFERENCE UPDATE")
x={1,2,4,"google"}
y={"google","microsoft","apple"}
x.difference_update(y)#removes items in this set that are included in the other set
print(x)

DIFFERENCE UPDATE
{1, 2, 4}

In [282]:
print("\n")
#DICTIONARY
print("DICTIONARY")
thisDict = {
   #key : value
   "brand" : "Suzuki",
   "model" : "Vitara",
   "Year"  : 2005
      }
print(thisDict)

DICTIONARY
{'brand': 'Suzuki', 'model': 'Vitara', 'Year': 2005}

In [283]:
print("\n")
print("accessing dictionary")
x=thisDict["brand"]# always refer to the key name 
print(x)

accessing dictionary
Suzuki

In [284]:
#using get() to access items
x=thisDict.get("model")
print(x)

Vitara

In [285]:
#change values
thisDict["model"] = "JIMMY"
print(thisDict["brand"],thisDict["model"])

Suzuki JIMMY

In [286]:
#loop through a dictionary 
for x in thisDict:
   print(x)

brand
model
Year

In [287]:
#obtaining the values of the dictionary using values()
for x in thisDict.values():
   print(x)

Suzuki
JIMMY
2005

In [288]:
#to loop through both keys and values items()
for x,y in thisDict.items():
   print(x,y)

brand Suzuki
model JIMMY
Year 2005

In [289]:
#adding a new key with its respective value
thisDict["colour"]="red"

In [290]:
#removing items in a dictionary using a pop() function
thisDict.pop("colour")
print(thisDict)

{'brand': 'Suzuki', 'model': 'JIMMY', 'Year': 2005}

In [291]:
#dictionary length
print(len(thisDict))

3

In [292]:
#checking data type  in dictionary
print(type(thisDict))

<class 'dict'>

In [293]:
#dictionary constructor
myDictionary = dict(brand="Toyota",model="GXR",Year="2022")
print(myDictionary)

{'brand': 'Toyota', 'model': 'GXR', 'Year': '2022'}

In [294]:
#using keys() to obtain a list of all keys 
x = myDictionary.keys()
print(x)

if "model" in myDictionary:
   print("yes, ' model' is one the keys in the myDictionary")

dict_keys(['brand', 'model', 'Year'])
yes, ' model' is one the keys in the myDictionary